/* CSS Document */
*,::before,::after{margin:0; padding:0; -webkit-box-sizing:border-box; -webkit-tap-highlight:transparent;/*清除点击默认的高亮效果*/}

a, article, aside, audio, b, blockquote, body, canvas, caption, dd,  details,div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, label, legend, li, menu, nav, object, ol, output, p,s, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
 { margin: 0; padding: 0; border: 0; }
ol, ul,li{ list-style: none;}
table { border-collapse: collapse;/*表格的边线重叠*/ border-spacing: 0; }
input,textarea{border:0 none; resize:none;/*调整尺寸*/  outline:none;/*清除表单默认的蓝色边框效果*/ -webkit-appearance:none;/* 针对表单的默认的样式进行清除  比如立体效果*/}
img{ display:block;}
a,a:link,a:visited{ text-decoration:none; color:#343434;}
.clearfix:after{content:""; display:block; height:0; clear:both; visibility:hidden;}

.fl{float:left;}
.fr{float:right;}

html{-webkit-text-size-adjust: none;/*不调整（拉伸）字大小*/  font-size:50px;/*表示50px=1rem;       625%    62.5%*/}

body{font-family: "microsoft yahei", "\534E\6587\7EC6\9ED1", Verdana, Arial, Helvetica, sans-serif; font-size:24px; background:rgba(204,204,204,1); }  
 
                      /*微软雅黑      华文细黑                                         最后一个字体：ios系统默认 */ 
.h10{ height:0.2rem; background: rgba(51,51,51,0.3); border-top:1px solid #cfcdcd;border-bottom:1px solid #cfcdcd; overflow:hidden; clear:both;}

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
          font-family:"iconfont" !important;
          font-size:16px;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }


/*居中排版*/ 
.m_layout{
	width:100%;
	min-width:6.4rem;
	max-width:15rem;
/*	height:2900px;*/
	margin:0 auto;
	background: #fff;
	padding-bottom:2rem;
	}

/*头部样式 m_header*/

.m_header{
	width:100%;
	height:1.76rem;
	background: rgba(253,58,102,0); position:fixed; z-index:1000; top:0;}

.m_header .m_header_left{ display:block; font-size:0.96rem; color:#fff; width:1rem; height:1rem;position:absolute; left:0.72rem; top:0.4rem; z-index:11;}

.m_header .m_header_right{ display:block; font-size:0.96rem; color:#fff; width:1rem; height:1rem;position:absolute; right:0.72rem; top:0.4rem; z-index:11; }
.m_header  .m_header_search{
	width:100%; height:1.28rem; position:absolute; top:0.24rem;
	padding:0 2.2rem;
	z-index:10;
	
	}
.m_header  .m_header_search input{ width:100%; background:rgba(255,255,255,0.5); border-radius:5px; height:1.28rem; color:rgba(255,0,102,1); font-size:0.48rem; font-family:"微软雅黑"; padding-left:1.28rem; }
.m_header  .m_header_search input::-webkit-input-placeholder{ color:#FFF;}
.m_header  .m_header_search .search_icon{ display:block; position:absolute; left:2.44rem; top:0.32rem; font-size:0.68rem; color:#fff;}

/*二级页面头部样式*/
.m_sub_header{
	width:100%;
	height:1.76rem;
	background: #ed7098; position:fixed; z-index:1000;}

.m_sub_header .m_header_left{ display:block;width:2.6rem; height:1.4rem;position:absolute; left:0.2rem; top:0.2rem; z-index:11; background:url(../images/logo_white.png) no-repeat center; background-size: contain;}


.m_sub_header  .m_header_search{
	width:100%; height:1.28rem; position:absolute; top:0.24rem; 
	padding:0 2rem 0 2.72rem;
	z-index:10;	
	}
.m_sub_header  .m_header_search input{ width:100%; background:rgba(255,255,255,1); border-radius:5px; height:1.28rem; color:rgba(255,0,102,1); font-size:0.48rem; font-family:"微软雅黑"; padding-left:0.2rem; }
.m_sub_header  .m_header_search input::-webkit-input-placeholder{ color:#a9a9a9;}
.m_sub_header   .search_icon{ display:block;color:#fff;width:1rem; height:1rem;position:absolute; right:0.6rem; top:0.4rem; z-index:11;font-size:0.96rem;}



/*foot_tab_box*/
.foot_tab_box{width:100%; height:2rem; border-top:1px solid #ddd; background:rgba(255,255,255,1); position:fixed; bottom:0; left:0;}
.foot_tab_box ul{ width:100%; height:2rem; display:flex;}
.foot_tab_box ul li{ flex:1;padding-top:0.2rem;}
.foot_tab_box ul li a{ width:1.6rem; height:1.6rem; display:block; margin:0 auto;}
.foot_tab_box ul li:nth-child(1) a{ background:url(../images/home.jpg) no-repeat center; background-size: contain;}
.foot_tab_box ul li:nth-child(2) a{ background:url(../images/cat.jpg) no-repeat center; background-size: contain;}
.foot_tab_box ul li:nth-child(3) a{ background:url(../images/find.jpg) no-repeat center; background-size: contain;}
.foot_tab_box ul li:nth-child(4) a{ background:url(../images/cart.jpg) no-repeat center; background-size: contain;}
.foot_tab_box ul li:nth-child(5) a{ background:url(../images/my.jpg) no-repeat center; background-size: contain;}
.foot_tab_box ul li:nth-child(1).foot_tab_on a{background:url(../images/h_home.jpg) no-repeat center;background-size: contain; }

/* 
  rem方式，750px 为高保真基准，原高保真大小除以基数50，即 10px/50 = 0.2rem，以此类推,字体还是 px
 */

html{font-size:50px;}
body{font-size:24px;}


@media screen and (min-width:320px){
  html{font-size:21.333333333333332px;}
  body{font-size:12px;}
}
@media screen and (min-width:360px){
  html{font-size:24px;}
  body{font-size:12px;}
}
@media screen and (min-width:375px){
  html{font-size:25px;}
  body{font-size:12px;}
}
@media screen and (min-width:384px){
html{font-size:25.6px;}
body{font-size:14px;}
}
@media screen and (min-width:400px){
html{font-size:26.666666666666668px;}
body{font-size:14px;}
}
@media screen and (min-width:414px){
html{font-size:27.6px;}
body{font-size:14px;}
}
@media screen and (min-width:424px){
html{font-size:28.266666666666667px;}
body{font-size:14px;}
}
@media screen and (min-width:480px){
html{font-size:32px;}
body{font-size:15.36px;}
}
@media screen and (min-width:540px){
html{font-size:36px;}
body{font-size:17.28px;}
}
@media screen and (min-width:720px){
html{font-size:48px;}
body{font-size:23.04px;}
}
@media screen and (min-width:750px){
html{font-size:50px;}
body{font-size:24px;}
}
